In [1]:
import pandas as pd

In [2]:
!ls ../data/stg

moscow_restoraunts.csv          mosdata_dataset1903.csv
moscow_restoraunts_detailed.csv mosdata_dataset1903.json

In [3]:
data = pd.read_csv("../data/stg/moscow_restoraunts.csv")

In [4]:
data.drop('fname', axis=1).head()

,url,dttm,title,rating,cuisine,phone,link,city,address
0,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,Goodbeef на Черкасском переулке,0,Европейская кухня,(495) 220 13 20,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Б.Черкасский пер., 15–17, стр. 1"
1,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,Каре,0,Грузинская кухня,(499) 129 28 02,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Дмитрия Ульянова, 42, стр. 1"
2,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,Элефант,0,Европейская кухня,(495) 694 54 92,https://www.moscow-restaurants.ru/restaurants/...,Москва,"2-й Колобовский пер., 12"
3,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,Kitchen в Одинцово,0,Европейская кухня,925 679 59 59,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Можайское ш., 76а"
4,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,Евразия на Большевиков,0,Японская кухня,(812) 587 90 35,https://www.moscow-restaurants.ru/restaurants/...,Москва,"просп. Большевиков, 2"

In [5]:
data.fname.iloc[1]

'chunk_32a4cf50b040958aa9db65de300093aacb32ed52a5979fb25969de86954dfb1a.json'

In [6]:
from src_rest.scrapying.utils import load_json
import os

In [7]:
s = load_json(
    os.path.join('../data/raw/moscow_restauraunts', 
    data.fname.iloc[1]))

In [8]:
data.cuisine.value_counts(dropna=False).head(10)

Европейская кухня     978
Итальянская кухня     529
Американская кухня    415
Японская кухня        280
Русская кухня         274
Авторская кухня       212
Грузинская кухня      169
Узбекская кухня        96
Смешанная кухня        93
Китайская кухня        85
Name: cuisine, dtype: int64

In [9]:
data.cuisine.value_counts(dropna=False).tail(15)

Иранская кухня        1
Пакистанская кухня    1
NaN                   1
Нордик кухня          1
Белорусская кухня     1
Веганская кухня       1
Эстонская кухня       1
Ирландская кухня      1
Татарская кухня       1
Молдавская кухня      1
Баскская кухня        1
Бразильская кухня     1
Тибетская кухня       1
Креольская кухня      1
Швейцарская кухня     1
Name: cuisine, dtype: int64

In [10]:
data.address.head()

0    Б.Черкасский пер., 15–17, стр. 1
1        Дмитрия Ульянова, 42, стр. 1
2            2-й Колобовский пер., 12
3                   Можайское ш., 76а
4               просп. Большевиков, 2
Name: address, dtype: object

In [11]:
data.dtypes

url        object
dttm       object
fname      object
title      object
rating      int64
cuisine    object
phone      object
link       object
city       object
address    object
dtype: object

In [12]:
data.city.value_counts()

Москва    3880
Name: city, dtype: int64

In [13]:
data.rating.value_counts()

0    2664
4     430
3     353
2     223
5     153
1      57
Name: rating, dtype: int64

In [14]:
data.loc[data.rating == 0]

,url,dttm,fname,title,rating,cuisine,phone,link,city,address
0,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Goodbeef на Черкасском переулке,0,Европейская кухня,(495) 220 13 20,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Б.Черкасский пер., 15–17, стр. 1"
1,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Каре,0,Грузинская кухня,(499) 129 28 02,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Дмитрия Ульянова, 42, стр. 1"
2,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Элефант,0,Европейская кухня,(495) 694 54 92,https://www.moscow-restaurants.ru/restaurants/...,Москва,"2-й Колобовский пер., 12"
3,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Kitchen в Одинцово,0,Европейская кухня,925 679 59 59,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Можайское ш., 76а"
4,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Евразия на Большевиков,0,Японская кухня,(812) 587 90 35,https://www.moscow-restaurants.ru/restaurants/...,Москва,"просп. Большевиков, 2"
...,...,...,...,...,...,...,...,...,...,...
3868,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:32:54,chunk_a4205f2004bd4dba9b61b9648e0cce7602ddfe9a...,Де Марко на Краснопресненской,0,Итальянская кухня,(495) 605 31 15,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Краснопресненская наб., 2/1"
3869,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:32:54,chunk_a4205f2004bd4dba9b61b9648e0cce7602ddfe9a...,Особняк,0,Русская кухня,(495) 912 45 46,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Таганская, 13, стр. 3"
3870,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:32:54,chunk_a4205f2004bd4dba9b61b9648e0cce7602ddfe9a...,Крылышко или ножка на Проспекте Мира,0,Европейская кухня,916 268 51 18,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Мира просп., 77, корп. 2"
3871,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:32:54,chunk_a4205f2004bd4dba9b61b9648e0cce7602ddfe9a...,Drink Your Seoul,0,Корейская кухня,499 340 11 85,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Калашный пер., 9"
3872,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:32:54,chunk_a4205f2004bd4dba9b61b9648e0cce7602ddfe9a...,One Cafe Каракатица,0,Средиземноморская кухня,966 055 85 85,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Тишинская пл., 1, стр. 6"

In [15]:
data

,url,dttm,fname,title,rating,cuisine,phone,link,city,address
0,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Goodbeef на Черкасском переулке,0,Европейская кухня,(495) 220 13 20,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Б.Черкасский пер., 15–17, стр. 1"
1,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Каре,0,Грузинская кухня,(499) 129 28 02,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Дмитрия Ульянова, 42, стр. 1"
2,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Элефант,0,Европейская кухня,(495) 694 54 92,https://www.moscow-restaurants.ru/restaurants/...,Москва,"2-й Колобовский пер., 12"
3,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Kitchen в Одинцово,0,Европейская кухня,925 679 59 59,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Можайское ш., 76а"
4,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:26:48,chunk_32a4cf50b040958aa9db65de300093aacb32ed52...,Евразия на Большевиков,0,Японская кухня,(812) 587 90 35,https://www.moscow-restaurants.ru/restaurants/...,Москва,"просп. Большевиков, 2"
...,...,...,...,...,...,...,...,...,...,...
3875,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:13:08,chunk_8813b37cd84492d59ea2b199deccff53535bb0f2...,Ткемали. Новая площадь,3,Грузинская кухня,495 983 10 70,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Новая пл., д.8, стр.2"
3876,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:13:08,chunk_8813b37cd84492d59ea2b199deccff53535bb0f2...,Chainaya Tea & Cocktails,3,Китайская кухня,(495) 967-30-52,https://www.moscow-restaurants.ru/restaurants/...,Москва,"1-я Тверская-Ямская, 29, стр. 1"
3877,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:13:08,chunk_8813b37cd84492d59ea2b199deccff53535bb0f2...,Bro&N,4,Итальянская кухня,(495) 650 00 50,https://www.moscow-restaurants.ru/restaurants/...,Москва,"М.Бронная, 27/14"
3878,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:13:08,chunk_8813b37cd84492d59ea2b199deccff53535bb0f2...,Bebe de la mer,3,Европейская кухня,985 435 77 77,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Петровка, 30/7"
3879,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:13:08,chunk_8813b37cd84492d59ea2b199deccff53535bb0f2...,Subzero Moscow,1,Японская кухня,(495) 922 64 38,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Петровка, 30/7"

In [7]:
data1 = pd.read_csv('../data/pa/mosdata_dataset1903.csv')

In [8]:
data1.loc[
    data1.Name_norm == 'subzero moscow'
]

Empty DataFrame
Columns: [global_id, Number, Name, IsNetObject, OperatingCompany, TypeObject, AdmArea, District, Address, PublicPhone, SeatsCount, SocialPrivileges, x_coord, y_coord, StreetType, StreetName, HouseType, HouseName, BuildingType, BuildingName, Name_norm, OperatingCompany_count, Name_norm_count]
Index: []

[0 rows x 23 columns]

In [18]:
data1.loc[
    data1.Name_norm.str.contains('subzero')
]

,global_id,Number,Name,IsNetObject,OperatingCompany,TypeObject,AdmArea,District,Address,PublicPhone,...,y_coord,StreetType,StreetName,HouseType,HouseName,BuildingType,BuildingName,Name_norm,OperatingCompany_count,Name_norm_count
8136,1061825631,89,Subzero,нет,NaN,ресторан,Центральный административный округ,Тверской район,"город Москва, улица Петровка, дом 30/7",['(921) 909-79-61'],...,55.768115,улица,петровка,дом,30/7,NaN,NaN,subzero,NaN,1

In [19]:
data.loc[
    data.title.str.lower().str.contains('subzero')
]

,url,dttm,fname,title,rating,cuisine,phone,link,city,address
3879,https://www.moscow-restaurants.ru/restaurants/...,2022-09-03 22:13:08,chunk_8813b37cd84492d59ea2b199deccff53535bb0f2...,Subzero Moscow,1,Японская кухня,(495) 922 64 38,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Петровка, 30/7"

In [10]:
details = pd.read_csv('../data/stg/moscow_restoraunts_detailed.csv')

In [11]:
details.shape

(3879, 11)

In [12]:
details.review.isna().value_counts()

True     2667
False    1212
Name: review, dtype: int64

In [160]:
details.avg_check.value_counts(dropna=False)

<1500 ₽          2345
1500-2500 ₽       895
2500 - 5000 ₽     371
NaN               181
> 5000 ₽           87
Name: avg_check, dtype: int64

In [161]:
details.x_coord.isna().value_counts(dropna=False)

False    3832
True       47
Name: x_coord, dtype: int64

In [162]:
import json
import numpy as np

def safe_load(x):
    if pd.isna(x):
        return np.nan
    else:
        return json.loads(x)

details = details.join(
    details.aspect_stars.apply(safe_load).apply(pd.Series).drop(0, axis=1))

In [163]:
details['Еда'].isna().value_counts()

True     2667
False    1212
Name: Еда, dtype: int64

In [164]:
details.opening_hours.value_counts(dropna=False)

пн-чт                     516
пн-вс 12.00–0.00          472
круглосуточно             204
пн-вс 11.00–23.00         183
пн-вс 10.00–22.00         155
                         ...
пн-вс 11.00–0.30            1
пн-пт 14.00–3.00            1
пн-вс 10.30–23.30           1
вт - сб: 12:00 - 21:00      1
вт-чт 18.00–0.00            1
Name: opening_hours, Length: 536, dtype: int64

In [13]:
df = (
    data.drop(["url",  "dttm", "fname"], axis=1)
    .merge(details, how="inner", left_on='link', right_on='url'))

In [30]:
import numpy as np

def haversine_vectorize(lon1, lat1, lon2, lat2):

    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    newlon = lon2 - lon1
    newlat = lat2 - lat1

    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2

    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    km = 6_367_000 * dist #6367 for distance in KM for miles use 3958
    return km

In [31]:
df['left_id'] = np.arange(len(df))

In [32]:
df['key'] = 1
data1['key'] = 1

In [33]:
df['title_norm'] = df.title.str.lower()

In [34]:
data_product = (
    data1[['global_id', 'key', 'x_coord', 'y_coord', 'Name_norm']]
    .merge(df[['left_id', "key", 'x_coord', "y_coord", "title_norm"]], on="key"))

In [35]:
distance = haversine_vectorize(
    data_product.x_coord_x, data_product.y_coord_x,
    data_product.x_coord_y, data_product.y_coord_y
)

In [20]:
data_product['distance'] = distance

In [21]:
close_match = data_product.loc[data_product.distance <= 30 ].copy()

In [23]:
close_match.shape

(113917, 10)

In [22]:
# Чекать переименования

close_match.loc[
    close_match.title_norm.str.contains('izakaya')
    & close_match.Name_norm.str.contains('izakaya')
].copy()

,global_id,key,x_coord_x,y_coord_x,Name_norm,left_id,x_coord_y,y_coord_y,title_norm,distance
4129062,637549331,1,37.599272,55.757345,lucky izakaya bar,1122,37.599399,55.756908,lucky izakaya bar,4.917952
24572230,1146541918,1,37.615024,55.761228,monkey izakaya bar,2266,37.615003,55.761203,monkey izakaya bar,0.304858

In [234]:
'abcbd' in 'abcbde'

True

In [235]:
data1.loc[
    data1.Name_norm.str.contains('хорошая')
]

,global_id,Number,Name,IsNetObject,OperatingCompany,TypeObject,AdmArea,District,Address,PublicPhone,...,StreetType,StreetName,HouseType,HouseName,BuildingType,BuildingName,Name_norm,OperatingCompany_count,Name_norm_count,key
9942,1272681705,35,Хорошая еда,нет,NaN,кафе,Северо-Восточный административный округ,район Марьина Роща,"Российская Федерация, город Москва, внутригоро...",['(925) 110-53-83'],...,улица,образцова,дом,14,NaN,NaN,хорошая еда,NaN,1,1
10832,1082609503,7,Хорошая Девочка,нет,NaN,ресторан,Центральный административный округ,Пресненский район,"Российская Федерация, город Москва, внутригоро...",['(967) 296-88-44'],...,улица,малая бронная,дом,10,строение,1,хорошая девочка,NaN,1,1

In [202]:
df.loc[
    df.title.str.contains('Izakaya')
]

,title,rating,cuisine,phone,link,city,address,url,dttm,fname,...,street_address,street_locality,aspect_stars,review,Еда,Сервис,Атмосфера,Интерьер,left_id,key
796,Red Point Izakaya Bar,4,Азиатская кухня,925 099-05-44,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Лесная 20, стр. 6",https://www.moscow-restaurants.ru/restaurants/...,2022-09-09 20:23:44,chunk_761d168bdaeb51a9a4f0c189cd78b233661a78fd...,...,"Лесная 20, стр. 6",NaN,"{""\u0415\u0434\u0430"": 4, ""\u0421\u0435\u0440\...","Дата и время посещения — 17 декабря 2020, четв...",4.0,5.0,4.0,4.0,796,1
1122,Lucky Izakaya Bar,5,Паназиатская кухня,(495) 189 78 88,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Б.Никитская, 23/9",https://www.moscow-restaurants.ru/restaurants/...,2022-09-09 20:23:59,chunk_f73a719981125ac740979802ab9e5f07930cfc00...,...,"Б.Никитская, 23/9",NaN,"{""\u0415\u0434\u0430"": 5, ""\u0421\u0435\u0440\...","Дата и время посещения — 11 октября 2019, пятн...",5.0,3.0,3.0,4.0,1122,1
2266,Monkey Izakaya Bar,4,Японская кухня,(926) 989 10 04,https://www.moscow-restaurants.ru/restaurants/...,Москва,"Б.Дмитровка, д.10",https://www.moscow-restaurants.ru/restaurants/...,2022-09-09 20:24:53,chunk_d1481ab8ff1bb951e0c38694def2108c56f6fa41...,...,"Б.Дмитровка, д.10",NaN,"{""\u0415\u0434\u0430"": 4, ""\u0421\u0435\u0440\...","Дата и время посещения — 4 октября 2021, понед...",4.0,4.0,4.0,4.0,2266,1

In [24]:
close_match['match1'] = close_match.apply(
    lambda x: x.Name_norm in x.title_norm,
    axis=1
)

close_match['match2'] = close_match.apply(
    lambda x: x.title_norm in x.Name_norm,
    axis=1
)

In [25]:
sample_match = close_match.loc[close_match.match2 | close_match.match1]

In [29]:
data_product.shape

(42430572, 10)

In [27]:
sample_match = (
    sample_match.sort_values(by='distance')
    .drop_duplicates(subset=["left_id"])
)

In [28]:
sample_match.shape

(977, 12)

In [290]:
mapping = sample_match[["global_id", "left_id"]]

In [291]:
df_with_id = df.drop("key", axis=1).merge(mapping, how="inner", on="left_id")

In [310]:
aspects = df_with_id.loc[
    df_with_id.aspect_stars.notna(), ["global_id", "aspect_stars"]
].reset_index(drop=True)

In [313]:
aspects.aspect_stars = aspects.aspect_stars.apply(json.loads)

In [319]:
aspects = aspects.explode("aspect_stars").join(
    aspects.add_suffix("_full")
)

In [322]:
aspects['rating']  = aspects.apply(
    lambda x: x.aspect_stars_full[x.aspect_stars], axis=1
)

In [326]:
aspects = aspects.drop(["aspect_stars_full", "global_id_full"], axis=1)

In [327]:
aspects

      global_id aspect_stars  rating
0     637464172          Еда       4
0     637464172       Сервис       4
0     637464172    Атмосфера       3
0     637464172     Интерьер       3
1     637539867          Еда       3
..          ...          ...     ...
437  1034726855     Интерьер       3
438  1061825631          Еда       1
438  1061825631       Сервис       3
438  1061825631    Атмосфера       3
438  1061825631     Интерьер       4

[1756 rows x 3 columns]

In [329]:
type(np.array([1, 2, 3]))

numpy.ndarray

In [330]:
df_with_id.columns

Index(['title', 'rating', 'cuisine', 'phone', 'link', 'city', 'address', 'url',
       'dttm', 'fname', 'x_coord', 'y_coord', 'avg_check', 'opening_hours',
       'street_address', 'street_locality', 'aspect_stars', 'review', 'Еда',
       'Сервис', 'Атмосфера', 'Интерьер', 'left_id', 'title_norm',
       'global_id'],
      dtype='object')